.footer{
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
}

.footer-links{
  margin-top:10px;
}

.footer-links a{
  color:#00adb5;
  margin:0 10px;
  text-decoration:none;
}